@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
  font-family: "Indie Flower", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}