@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
  font-family: "Indie Flower", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #8FC2FF;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  height: 100vh;
  
}